
  .grid {
    display: grid;
    /*OK - columns */
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-template-rows:  repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 2%;
    margin-right: 2%;
    }

